.responsive-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  align-items: start;
}

@media screen and (max-width: 1200px) {
  .responsive-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .responsive-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .responsive-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
